:root {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #333;
  text-decoration: inherit;
}

a:hover {
  color: #000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;  
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.2em;
  }
}
